<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook-f"></i>
            <a href="https://www.instagram.com/priyanshusingh15__/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/priyanshu-singh-287b37224/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy;Wandurlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>